services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wagenheimer_app
    restart: always
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Production
